<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--En LOCAL : CONSOLE-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE_LOCAL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!--PRODUCTION : JSON -->
    <appender name="FILE_JSON_PROD" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/app.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/archived/app-%d{yyyy-MM-dd}.%i.json.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/><logLevel/><loggerName/><message/><stackTrace/>
            </providers>
        </encoder>
    </appender>

    <!-- profils -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE_LOCAL" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE_JSON_PROD" />
        </root>
    </springProfile>
</configuration>
